{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/uikit-rtl.min.css' %}">
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <title>instargram</title>
</head>
<body>
<header>
    <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="{% url 'index' %}"><span style="font-weight: 200; padding-right: 8px;">Development</span> instargram</a>
        <ul class="uk-navbar-nav">

        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">

            {% if user.is_authenticated %}
            <li class="uk-parent">
                <div class="uk-navbar-item">
                    <a href="{% url 'posts:post-create' %}" class="uk-button uk-button-default">posting</a>
                </div>
            </li>
            <li class="uk-parent">
                <form action="{% url 'members:sign-out' %}" method="POST" class="uk-navbar-item">
                    {% csrf_token %}
                    <button type="submit" class="uk-button uk-button-default">sign out</button>
                </form>
            </li>
            {% else %}
            <li class="uk-parent">
                <div class="uk-navbar-item">
                    <a href="{% url 'members:sign-in' %}"  class=" uk-button uk-button-default">sign in</a>
                </div>
            </li>
            <li class="uk-parent">
                <div class="uk-navbar-item">
                    <a href="{% url 'members:sign-up' %}"  class=" uk-button uk-button-default">sign up</a>
                </div>
            </li>
            {% endif %}



        </ul>
    </div>
</nav>
</header>

    <section class="uk-container uk-container-small uk-margin-medium-top">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>